{% extends "base.html" %}
{% load staticfiles accounts_custom_filter %}
{% block content %}
	
	<div class="row" style="margin: 30px 0px 30px 0px;">
		<div id="sidebar" class="col-md-2 col-lg-3">
			<div class="list-group">
			  <a href="#" class="list-group-item active">
			    {{request.user.username}}
			    <br>
			    {{request.user.email}}
			  </a>
			  <div class="custom_sidebar" style="padding-top: 20px;">
				  <a href="{% url "user_orders" %}" class="list-group-item 1">My Orders</a>
				  <a href="{% url "view_user_address" %}" class="list-group-item 2">My Addresses</a>
				  <a href="{% url "view_wist_list" %}" class="list-group-item 3">Wish List</a>
				  <a href="{% url "account_settings" %}" class="list-group-item 4">Account Settings</a>
			  </div>
			</div>
		</div>

		
		
		<div class="col-md-10 col-md-9 shipping-address" style="background: #FFF; padding: 30px 40px 30px 40px;">
			
			<h5 class="row">
				<strong class="col-md-6 col-lg-6">Shipping Address</strong>
				<a href="{% url "add_user_address" %}"><button class="btn btn-primary pull-right" href='{% url "add_user_address" %}' id='addShippingAddress'>Create New Address</button></a>
			</h5>
			{% if current_addresses %}
			<form class="form-horizontal" role="form">
				{% for current_address in current_addresses%}
					<div class="row">
						<input type="radio" {% if primary_address.shipping.id == current_address.id %}checked="checked"{% endif %} name="address" value="{{current_address.id}}" class="col-md-1 shipping_address" id="{{current_address.id}}">
						<img id="shipping_address_loader" src="{% static 'img/loader.gif' %}" style="display: none;" />
						<div class="col-md-11">
								<p>{{current_address.name}} <strong class="primary-address" id="primary-address-{{current_address.id}}">{% if primary_address.shipping.id == current_address.id %}(Primary){% endif %}</strong></p>
								<p>{{current_address.address}}{{current_address.address2}}</p>
								<p>{{current_address.city}}, {{current_address.state}}, {{current_address.country}}</p>
								<p>{{current_address.address}}</p>
								<p>+91 {{current_address.phone}}</p>
								<a href="#" style="float: left;">Edit</a>|
								<a href="#">Delete</a>
								<br><br>
							
						</div>
					</div>
				{% endfor %}
			</form>
			{% else %}
				<div>
					<h4>
						You do not have any address saved yet. Create a new Address.
					</h4>
				</div>
			{% endif %}
		</div>

	</div>

{% endblock %}


<script type="text/javascript">
{% block jquery %}

	$(".shipping_address").click(function(e){
	  // e.preventDefault()
	  var mForm = $('input[type=radio][name=address]:checked').attr('id')
	  $('#shipping_address_loader').show();
	 $.ajax({
	      type: "POST",
	      url: "{% url 'update_default_address' %}",
	      data: {
                "radio_id": mForm,
                "csrfmiddlewaretoken": "{{ csrf_token }}",
              },
	      success: function(data){
	        console.log(data)

	        $(".primary-address").html("")
	        $("#primary-address-"+data).html("(Primary)")
	        //  $("#marketingModal").modal("hide");
	      },
	      error: function(data){
	        var obj = data.responseJSON
	      },
	   });
	 setTimeout(
  function() 
  {
    $('#shipping_address_loader').hide();
  }, 500);
	});


$(function() {
  debugger;
  var loc = window.location.href; // returns the full URL
  if(/wistlist/.test(loc)) {
    $(".1").removeClass("active");
    $(".2").removeClass("active");
    $(".3").addClass("active");
    $(".4").removeClass("active");
  }

  if(/address/.test(loc)) {
    $(".1").removeClass("active");
    $(".2").addClass("active");
    $(".3").removeClass("active");
    $(".4").removeClass("active");
  }
});



{% endblock %}


</script>



















