{% extends "base.html" %}
{% load crispy_forms_tags %}
<script>
{% block jquery %}

$(".radio-label").click(function(){
  $("label").removeClass('radio-label-selected');
  $(this).addClass('radio-label-selected');
});

$("#addShippingAddress").click(function(e){
  e.preventDefault();
  $("#shippingAddressForm").fadeToggle();
})

{% if not current_addresses  %}
  $("#shippingAddressForm").fadeToggle();
{% endif %}

$('.razorpay-payment-button').attr('class', 'btn btn-primary razorpay-payment-button')
$('.razorpay-payment-button').attr('style', 'position: fixed;width: 205px;margin: 120px 31px;')
{% endblock %}
</script>

<style>
{% block styles %}
.radio-label {
  font-size: 22px;
  font-weight: normal;
  padding: 4px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.radio-label input[type=radio] {
  display: none;
}
.radio-label:hover {
  font-size: 22px;
  font-weight: normal;
  background-color: #428bca;
  color: white;
  cursor: pointer;
}
.radio-label-selected {
  font-size: 22px;
  font-weight: normal;
  background-color: #428bca;
  color: white;
  cursor: pointer;
}

@media(min-width: 1200px) {
  .total { 
    position: fixed;
  }
}

{% endblock %}
</style>


{% block content %}
<div class="container">
  <div class="row">

      <div class='col-md-4 pull-right'>
        <div class='total'>
          <h1>Current total</h1> <h3>{{ order.get_final_amount }}</h3>
        </div>
      </div>

      <div class='col-md-8 pull-left'>

        <div class='col-md-12 pull-right' id='shippingAddressForm' style='display:none;'>
          <h3>Add new Shipping Address</h3>
          <form method="POST" action='{% url "ajax_add_user_address" %}?next=checkout'>{% csrf_token %}
          {{ address_form|crispy }}

          <input class="btn btn-primary" type='submit' class='btn btn-default' value='Add Shipping Address'/>
          </form>
        </div>


        <form action="{% url "checkout" %}" method="POST">{% csrf_token %}

          {% if current_addresses  %}

            <div class='col-md-12'>
            <h3>Shipping Addresses</h3>
             
              <div class="row" style="background-color: #fff; padding: 15px 15px 15px 15px;">
                {% for address in current_addresses %}
                <div class='col-md-6' >
                
                  {% if request.user.userdefaultaddress.shipping.id == address.id %}

                    <input class='radio-label radio-label-selected col-md-1' type='radio' name='shipping_address' value='{{ address.id }}' checked='checked'/> 
                    <label class="col-md-11">
                     {{ address.get_address|linebreaks }} 
                    </label>
                    <br/>

                  {% else %}
                    <input class='radio-label col-md-1' type='radio' name='shipping_address' value='{{ address.id }}' />
                    <label class="col-md-11">
                     {{ address.get_address|linebreaks }}
                    </label>
                    <br/>
                  {% endif %}
                  </div>

                {% endfor %}
              </div>
              

            <a href='{% url "add_user_address" %}' id='addShippingAddress'>Add New Address</a>
            </div>
          {% endif %}

        <!-- Note that the amount is in paise = 50 INR -->
          <script
              src="https://checkout.razorpay.com/v1/checkout.js"
              data-key="{{razor_key_id}}"
              data-amount="100"
              data-buttontext="Pay Amount"
              data-name="Merchant Name"
              data-description="Purchase Description"
              data-image="https://your-awesome-site.com/your_logo.jpg"
              data-prefill.name="Harshil Mathur"
              data-prefill.email="support@razorpay.com"
              data-theme.color="#F37254"
          ></script>
          <input type="hidden" value="Hidden Element" name="hidden">
        </form>
      </div>

  </div>
</div>
{% endblock %}